<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Page</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    {% load static %}

    <link rel="stylesheet" href="{% static 'videoPage.css' %}">
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">VideoChat</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about/">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact-us/">Contact Us</a>
                </li>
            </ul>

        </div>
    </nav>

    <div class="container text-center " id="loginPage">

        <div class="row justify-content-md-center my-3">
            <div class="col-md-4 col-md-offset-4">

                <h2>Please sign in:</h2>
                <label for="usernameInput" class="sr-only">Login</label>
                <input type="email" id="usernameInput" class="form-control form-group" placeholder="Login" autofocus="">
                <button id="loginBtn" class="btn btn-lg btn-primary btn-block">Sign In</button>

            </div>
        </div>

    </div>

    <div class="myContainer1">

        <div id="callPage" class="call-page">
            <div class="videoContainer">
                <video autoplay id="localVideo"></video>
                <video autoplay id="remoteVideo"></video>
            </div>

            <div>
                <input type="text" class="form-control form-group mt-1" id="callToUsernameInput" placeholder="username to call" />
                <button id="callBtn" class="btn btn-success mt-1">Call</button>
                <button id="hangUpBtn" class="btn btn-danger mt-1">Hang Up</button>
            </div>


        </div>

        <div id="chatSection" class="chat-section p-2">
            <h2 class="text-center">Chat Section</h2>
            <!-- <div id="msgDisplayer" class="msgContainer"> -->
            <!-- <p>msg 1</p>
                <p>yeh hain new msg</p>
                <p>kuch khaas nahi</p>
                <p>ummm, wait a little</p>
                <p>I cant understand English.</p> -->
            <!-- </div> -->

            <!-- <div class="container">
                <div class="panel-group msgContainer" id="msgDisplayer">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h4>Chat Messages<h4>
                        </div>
                        <div class="panel-body">
                            <p class="text-danger">Panel Content</p>
                        </div>
                        <div class="panel-body">
                            <p class="text-danger">Panel Content</p>
                        </div>
                        <div class="panel-body">
                            <p class="text-danger">Panel Content</p>
                        </div>
                    </div>
                </div>
            </div> -->
            <div class="msgContainer" id="msgDisplayer">
                <div class="card bg-info float-left text-light mb-1 w-75 d-block">
                    <div class="card-body myPadding">
                        <h5 class="card-title">Username</h5>
                        <p class="card-text">User message.</p>
                    </div>
                </div>

                <div class="card bg-warning float-right mb-1 w-75 d-block">
                    <div class="card-body myPadding">
                        <h5 class="card-title">Max</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi veritatis dicta.</p>
                    </div>
                </div>
            </div>



            <div id="msgSender">
                <input type="text" id="chatText" class="form-control form-group" placeholder="your message..." />
                <button id="chatSendBtn" class="btn btn-secondary">Send</button>
            </div>
        </div>

    </div>



    <script src="{% static 'client.js' %}"></script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>